html {
    background: #e3e3e3;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p {
    line-height: 1.5;
}

.container {
    background: white;
    margin: 1em auto;
    max-width: 1200px;
    padding: 1em;
    width: 90%;
}
.container::after {
    clear: both;
    content: '';
    display: block;
}

.container > h1 {
    margin: 0 0 1em;
    text-align: center;
}

p:last-child {
    margin-bottom: 0;
}

#udacityU {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    float: right;
    margin: 0 0 1em 1em;
    min-width: 150px;
    width: 30%;
}
